#table.css

BODY {
    font-family: Trebuchet MS;
    margin:20px;
    background-color: white;
  }
  
  H1 {
    text-align: center;
    color: black;
  }
  
  .myTimetable {
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .myTimetable THEAD{
    color: black;
  }
  
  .myTimetable TBODY {
    background-color: white;
  }
  
  .myTimetable TD {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
  }
  .myTimetable TBODY TR TD:first-child {
    background-color: rgb(204, 66, 66);
    font-weight: bold;
  }
  
  .break{
    background-color: grey !important;
    font-style: italic;
  }
  
  .subject {
    font-size: 12pt;
    margin-bottom:4px;
  }
  
  .room {
    font-size: 10pt;
    font-style: italic;
  }
  